/* Styles the Home Page */

/* Navagation Bar */
.transparent-navbar {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

.transparent-navbar .navbar-brand,
.transparent-navbar .navbar-nav .nav-link {
    color: #fff;
}

main {
    padding-top: 80px;
}

/* Styles the Contact Us Page */
body {
    background-color: #f8f9fa;
}

.contact-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

.btn-submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #0056b3;
}