body {
    font-family: 'Metrophobic', sans-serif;
}

.heading-title {
    font-family: 'Signika', sans-serif;
}

/* Styles the Home Page */

/* Navagation Bar */

.navbar-nav {
    margin: auto;
    display: flex;
    justify-content: end;
    align-items: center;
}

.transparent-navbar {
    background-color: rgba(28, 28, 28, 0.3);
    backdrop-filter: blur(5px);
}

.transparent-navbar .navbar-brand,
.transparent-navbar .navbar-nav .nav-link {
    color: #fff;
}


/* Adding the top spacing for the main section */
main {
    padding-left: 100px;
    padding-right: 100px;
}

/* Adding the heading banner */
.heading-banner {
    margin-top: 100px;
    background-image: url(images/heading-banner.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: right;
}

.heading-banner .containter {
    padding-top: 100px;
}

.heading-title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.heading-description {
    font-size: 1.5 rem;
}

/* Style the image effects */


/* Styles the Contact Us Page */
body {
    background-color: #f8f9fa;
}

.contact-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

.btn-submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #0056b3;
}